<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width,initial-scale=1.0,
       minimum-scale=1.0,maximum-scale=1.0">
        <link rel="stylesheet" href="../css/contact.css" media="screen" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="contact">
            <div class="left"></div>
            <div class="right">
                <h2>Contactez nous</h2>
                <input type="text" class="field" placeholder="Nom " > 
                <input type="email" class ="field" placeholder="Email" > 
                <input type="text" class="field" placeholder="Numéro de téléphone">
                <textarea class="field area" placeholder="Message"></textarea> 
                <button class="btn">Envoyer</button>
            </div>
            </div>
        </div>
    </body>
</html>